<div class="questionDetails">
  <div class="container">
    <h1>{{ question.content }}</h1>
    <h2>Asked by: {{ question.author }}</h2>
    <h3>Additional Notes: {{ question.notes }}</h3>
    {{#if itemFavorited}}
      <p class="favorited"><i class="fa fa-star"></i>Favorited</p>
    {{else}}
      <button {{action 'addToFavorites' question}} class="yellowBtn">Favorite this Question</button>
    {{/if}}
  </div>
</div>
<div class="container">
  {{ new-answer saveAnswer="saveAnswer" question=question}}
  {{#each sortedAnswers as |answer|}}
  <div class="answerItem">
    {{answer-tile answer=answer question=question}}
  </div>
  {{/each}}
</div>
