{{#if updateQuestionForm}}
<div class="updateQuestionSection">
  <h2>Edit Question</h2>
  <form class="editQuestionForm">
    <div class="form-group">
      <label for="content">Question</label>
      {{input value=question.content id="content"}}
    </div>
    <div class="form-group">
      <label for="author">Your Name</label>
      {{input value=question.author id="author"}}
    </div>
    <div class="form-group">
      <label for="notes">Notes</label>
      {{textarea value=question.notes id="notes"}}
    </div>
    <button {{action 'updateQuestion' question}}>Save Updated Question</button>
  </form>
  <button{{action 'toggleDetail'}}>Cancel</button>
</div>
{{else}}
  <div class="updateQuestionSection">
    <button {{action 'toggleDetail'}}>Edit Question</button>
  </div>
{{/if}}
