{{#liquid-if updateQuestionForm class="fade-demo"}}
<div class="updateQuestionSection">
  <h2>Edit Question</h2>
  <form class="editQuestionForm">
      <label for="content">Question</label>
      {{input value=question.content id="content"}}
      <label for="author">Your Name</label>
      {{input value=question.author id="author"}}
      <label for="notes">Notes</label>
      {{textarea value=question.notes id="notes"}}
    <button class="primaryBtn"{{action 'updateQuestion' question}}>Save Updated Question</button>
  </form>
  <button class="secondaryBtn" {{action 'toggleDetail'}}>Nevermind</button>
</div>
{{else}}
  <div class="updateQuestionSection">
    <button class="primaryBtn"{{action 'toggleDetail'}}>Edit Question</button>
  </div>
{{/liquid-if}}
